body{
    background: #EBEBEB;
    color: #ff0000;
}
h1{
    padding:  83px 0px 36px 0px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 0.89px;
    color: #707070;
}
.wrapper{
    background: #fff;
    margin: 0 auto;
    padding-top: 118px;
    letter-spacing: 1px;
    width: 736px;
    height: 552px;
}
label{
    display: inline;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.27px;
    margin: 0px 100px 20px 100px;
}
input[type=email],
input[type=password],
input[type=password_check]
{
    width: 336px;
    height: 36px;
    margin: 0px 200px 60px 200px;
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 1px solid #00000015;
}
input[type=submit]{
    width: 336px;
    height: 48px;
    margin: 0px 200px 88px 200px;
    color: #fff;
    background: #F5AE0B;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.44px;
}
.error-message{
    margin: -60px 200px 0px 200px;
    font-size: 7px;
}
ul{
    list-style: none;
}
