body{
    background: #ebebeb;
}
.wrapper{
    color: #777;
    background: #fff;
    margin: 0 auto;
    letter-spacing: 1px;
    width: 400px;
}
input[type=email],
input[type=password]{
    width: 250px;
}
